<link rel="stylesheet" type="text/css" href="/css/notes.css">
<div id="heading">
    <h1>notes page</h1>
</div>
<div id="display_notes">
    <embed src="../uploads/notes/<%=locals.filepath%>" width="800px" height="2100px"/>
</div>
<script src="/js/notes.js"></script>