<link rel="stylesheet" type="text/css" href="/css/profile.css">
<h1>profile page</h1>
<a href="/users/logout">logout</a>
<a href="/users/verify_mobile">Verify mobile</a>
<script src="/js/profile.js"></script>